<!-- Optional additional links to insert in sidebar nav -->

{% if page.url contains 'english' %}

<a class="about-link {% if page.url == '/english/' %} active{% endif %}"
        href="{{ "english" | relative_url }}">Home</a>

<a class="people-link {% if page.url == '/english/people/' %} active{% endif %}"
        href="{{ "english/people" | relative_url }}">People</a>

<a class="res-link {% if page.url == '/english/research/' %} active{% endif %}"
        href="{{ "english/research" | relative_url }}">Research</a>

<a class="pub-link {% if page.url == '/english/publications/' %} active{% endif %}"
        href="{{ "english/publications" | relative_url }}">Publications</a>

<a class="about-link {% if page.url == '/english/courses/' %} active{% endif %}"
        href="{{ "english/courses" | relative_url }}">Courses</a>

{% else %}

<a class="about-link {% if page.url == '/' %} active{% endif %}"
        href="{{ "/" | relative_url }}">Home</a>

<a class="people-link {% if page.url == '/people/' %} active{% endif %}"
        href="{{ "people" | relative_url }}">People</a>

<a class="res-link {% if page.url == '/research/' %} active{% endif %}"
        href="{{ "research" | relative_url }}">Research</a>

<a class="pub-link {% if page.url == '/publications/' %} active{% endif %}"
        href="{{ "publications" | relative_url }}">Publications</a>

<a class="about-link {% if page.url == '/courses/' %} active{% endif %}"
        href="{{ "courses" | relative_url }}">Courses</a>

{% endif %}